<footer class="text-center ">
    <div class="f-info">
        <div style="height: 2rem;">@ WonderLust</div> 
        <div class="f-socials">
            <a href="#"><i class="fa-brands fa-facebook fa-1x"></i></a>
            <a href="#"><i class="fa-brands fa-twitter fa-1x"></i></a>
            <a href="#"><i class="fa-brands fa-instagram fa-1x"></i></a>
            <a href="#"><i class="fa-brands fa-linkedin fa-1x"></i></a>
            <a href="#"><i class="fa-brands fa-github fa-1x"></i></a>
        </div>
        
        <div class="f-info-links">
            <a href="/about" class="fil">About</a>
            <a href="/privacy"class="fil">Privacy Policy</a>
            <a href="/terms" class="fil">Terms of Service</a>
            <a href="/contact" class="fil">Contact</a>
        </div>
    </div>
</footer>