
  <nav class="navbar navbar-expand-lg bg-body-light border-bottom sticky-top position-relative" >
  <div class="container-fluid ">
    <a class="navbar-brand" href="/listings"><i class="fa-solid fa-location-arrow"></i></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
  <div class="d-lg-flex w-100 justify-content-between">

    <!-- Left links -->
    <div class="navbar-nav">
      <a class="nav-link" href="/listings">Explore</a>
    </div>

    <!-- search buttons -->
    <div class="btn-group">
      <button type="button" class="btn">Anywhere</button>
      <button type="button" class="btn">Any Week</button>
      <form class="d-flex flex-justify-content-between" action=`/listings/index?search=${dest}`>
        <input type="text" class="btn" placeholder="Search Destinations" style="border-right: none;" name="search">
        <button style="width: 40px; height: 40px; border-radius: 50%; background-color: #fe424d; border: none;" id="search" ><i class="fa-solid fa-magnifying-glass" style="color: #fafafa; "></i></button>
      </form>
    </div>

    <!-- Right links -->
    <div class="navbar-nav">
      <a class="nav-link" href="/listings/new">Airbnb Your Home</a>
      <% if(!user) { %>
        <a class="nav-link fw-semibold" href="/signup">Signup</a>
        <a class="nav-link fw-semibold" href="/login">Login</a>
      <% } %>
      <% if(user) { %>
        <a class="nav-link text-danger fw-semibold" href="/logout">Logout</a>
      <% } %>
    </div>

  </div>
</div>

  </div>
</nav>