<nav class="navbar navbar-expand-lg bg-body-light border-bottom sticky-top position-relative">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><i class="fa-solid fa-location-arrow"></i></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
  <div class="d-lg-flex w-100 justify-content-between">

    <!-- Left links -->
    <div class="navbar-nav">
      <a class="nav-link active" href="/">Home</a>
      <a class="nav-link" href="/listings">Listings</a>
      <a class="nav-link" href="/listings/new">New</a>
    </div>

    <!-- Right links -->
    <div class="navbar-nav">
      <% if(!user) { %>
        <a class="nav-link" href="/signup">Signup</a>
        <a class="nav-link" href="/login">Login</a>
      <% } %>
      <% if(user) { %>
        <a class="nav-link text-danger fw-semibold" href="/logout">Logout</a>
      <% } %>
    </div>

  </div>
</div>

  </div>
</nav>