<% layout("/layouts/boilerplate.ejs") %>

<body>
    <div class="row">
        <div class="col-8 offset-2">
    <h2>Create a New Listing</h2><br>
    
    <form action="/listings" method="post" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label><br>
            <input type="text" name="listing[title]" placeholder="Enter the Title" id="title" class="form-control" ><br>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description</label><br>
            <textarea name="listing[description]" cols="80" rows="8" placeholder="Enter the Description" class="form-control" id="description"></textarea><br>
        </div>
        <div class="mb-3">
            <label for="image" class="form-label" >Upload Image</label><br>
            <input type="file" name="listing[image]" class="form-control" placeholder="Enter the image Link/URL" id="image" ><br>
        </div>

        <div class="row">
            <div class="mb-3 col-md-4">
                <label for="price" class="form-label">Price</label><br>
                <input  name="listing[price]" placeholder="Enter the Price" class="form-control" id="price" ><br>
            </div>
            <div class="mb-3 col-md-8">
                <label for="country" class="form-label">Country</label><br>
                <input type="text" name="listing[country]" class="form-control" placeholder="Enter the Country" id="country" autocomplete="country" ><br>
            </div>

        </div>
        
        <div class="mb-3">
            <label for="location" class="form-label">Location</label><br>
            <input type="text" name="listing[location]" class="form-control" placeholder="Enter the location" id="location" ><br>
        </div>
        
        <button type="submit" class="btn btn-dark bnb-btn">Create Listing</button>
    </form>
    </div>
</div>
