#filters{
    display: flex;
    flex-wrap: wrap;
    margin: 1rem 3.5rem 1rem;
    background-color: antiquewhite;  
    border-radius: 50px;
    padding: 0rem 0.5rem 0rem;
    justify-content: space-between;
  }

  #filter-list{
    display: flex;
    justify-content: space-around;

  }
  .filter{
    text-align: center;
    margin: 1rem;
    text-justify: auto;
    opacity: 0.7;
    padding: 2px;
    position: relative;
    color: black;
  }

  .filter:hover{
    opacity: 1;
    cursor: pointer;
  }

  .filter:hover::after {
  transform: scaleX(1);
}

  .filter-name{
    margin: 0;
    font-size: 0.8rem;
  }

  #filters a{
    text-decoration: none;
    color: black;
  }

  .active{
    color: black;
    opacity: 1;
    /* border-bottom: 2px solid gray; */
  }

.clear-filter{
  color: black;
  background-color: transparent;
  border: 2px solid black;
  border-radius: 25px;
  padding: 7.5px;
  align-content: center;
  font-weight: bold;
}

.filter::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;          /* space below text/icon */
  width: 100%;
  height: 2px;
  background-color: black;

  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}

.filter.active::after {
  transform: scaleX(1);
}



